@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

nav {
    margin-top: 20px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
/* nav start */
nav{
    background-color: #FFF8F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
}

nav div ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div ul li {
    margin: 0 8px;
}

/* nav div ul li */
button {
    padding: 6px 8px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
    background-color: #FD6E0A;
    color: white;
}
/* nav end */